/*-----------------------------------------------------------------------------------
	    wvquit-v3-6
        Built with Blocs
-----------------------------------------------------------------------------------*/
 
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow-x:hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Textures */

.bloc-bg-texture::before{
	content:"";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.texture-geometry-shapes::before{
	background: url("img/texture-geometry-shapes.png");
	background-size: 280px 280px;
}
.texture-darken::before{
	background: rgba(0,0,0,0.5);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}
.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}
.icon-spacer{
	margin-right:5px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-lg{
	font-size:60px!important;
}

/* Image Frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
	background:#FFF;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
	padding:4px;
}
.img-frame{
	border-radius:3px;
}
.img-frame-md,.img-frame-lg{
	border-radius:6px;
}
.img-frame-md,.img-frame-rd-md{
	padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
	padding:14px;
}

/* = Text & Icon Styles
-------------------------------------------------------------- */
.sm-shadow{
	text-shadow:0 1px 2px rgba(0,0,0,.3);
}
.lg-shadow{
	text-shadow:0 2px 5px rgba(0,0,0,.5);
}


.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}



/* iFrame */

iframe{
	border:0;
}
/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* Hide Object */
.object-hidden{
	display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Lato";
	font-weight:400;
}
.container{
	max-width:1140px;
}
.h1-style{
	font-family:Lato;
	font-weight:700;
	font-size:64px;
	line-height:64px;
}
.img-style{
	width:80px;
	height:200px;
}
.tall{
	height:90%;
}
.h2-style{
	font-family:Lato;
	font-weight:700;
}
.h2-pretest-style{
	font-family:Lato;
	font-weight:700;
}
.img-bloc-5-style{
	height:200px;
}
.img-4-style{
	height:200px;
}
.h3-style{
	font-family:Lato;
	font-weight:700;
}
.h3--welcome-style{
	font-family:Lato;
	font-weight:700;
}
.h3-3-style{
	font-family:Lato;
	font-weight:700;
}
.h3-4-style{
	font-family:Lato;
	font-weight:700;
}
.h1-bloc-5-style{
	font-size:12px;
}
.h1-bloc-6-style{
	font-size:40px;
}
.h3-bloc-9-style{
	font-family:Lato;
	font-weight:700;
}
.h3-bloc-10-style{
	font-family:Lato;
	font-weight:700;
}
.h3-bloc-11-style{
	font-family:Lato;
	font-weight:700;
	font-size:24px;
}
.h2-post-test-style{
	font-family:Lato;
	font-weight:700;
}
.h1-2-style{
	font-family:Lato;
	font-weight:700;
}
.p-bloc-5-style{
	font-size:12px;
}
.p-bloc-6-style{
	font-size:12px;
}
.p-bloc-7-style{
	font-size:12px;
}
.p-bloc-8-style{
	font-size:12px;
}
.p-bloc-11-style{
	font-size:12px;
}
.p-bloc-10-style{
	font-size:12px;
}
.p-bloc-9-style{
	font-size:12px;
}
.h1-resources-style{
	font-family:Lato;
	font-weight:700;
}
.p-18-style{
	font-size:20px;
}
.h3-bloc-14-style{
	font-family:Lato;
	font-weight:700;
}
.p-style{
	font-size:20px;
}
.p-pre-test-style{
	font-size:20px;
}
.p-register-style{
	font-size:16px;
	font-family:Lato;
	font-weight:900;
}
.navbar-nav li a{
	font-family:"Lato";
	font-weight:700;
}
label{
	font-family:"Lato";
	font-weight:700;
}
.h6-style{
	font-family:Lato;
	font-weight:900;
}
.p-10-style{
	font-family:Lato;
	font-weight:400;
}
.h5-style{
	font-size:16px;
	font-family:Lato;
	font-weight:900;
}
.h2-3-style{
	font-family:Lato;
	font-weight:700;
}
.h5-3-watch-style{
	font-size:16px;
	font-family:Lato;
	font-weight:900;
}
.h5-4-post-test-style{
	font-size:16px;
}
.h2-welcome-style{
	font-family:Lato;
	font-weight:700;
	font-size:28px;
}
.p-video-7-style{
	font-size:14px;
}
.label-style{
	font-size:14px;
}
.img-frame-float-left{
	float:left;
	width:auto;
	height:auto;
	background-color:rgba(255,255,255,0.90);
	margin:0px 0px 0px 0px;
	padding:4px 4px 4px 4px;
}
.icon-pdf{
	float:left;
	display:inline;
	width:16px;
	height:16px;
	margin:0px 8px 0px 0px;
	padding:4px 0px 0px 0px;
}
.pdf-link{
	padding-bottom:2px;
	padding-top:0px;
}
.video-border{
	border-style:solid;
	border-color:rgba(255,255,255,0.50)!important;
	opacity:100;
	border-radius:1px 1px 1px 1px;
	border-width:1px 1px 1px 1px;
}
.shadow-img{
	box-shadow:4px 7px 2px rgba(0,0,0,0.20);
	opacity:100;
}
.gradient-vertical{
	;
}
.h5-bloc-15-style{
	font-size:18px;
}
.h6-head-v7-style{
	width:100%;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-azure{
	background-color:#0088FF;
}
.bgc-yellow-green{
	background-color:#93CA3E;
}
.bgc-white{
	background-color:#FFFFFF;
}
.bgc-anti-flash-white{
	background-color:#F0F0F0;
}
.bgc-ash-grey{
	background-color:#B0C3B4;
}

/* Text colour styles */

.tc-pine-green{
	color:#20736B!important;
}
.tc-medium-jungle-green{
	color:#303030!important;
}
.tc-true-blue{
	color:#0073D7!important;
}
.tc-white{
	color:#FFFFFF!important;
}
.tc-tea-green{
	color:#C9E4AA!important;
}
.tc-msu-green{
	color:#173F4F!important;
}
.tc-ash-grey{
	color:#B0C3B4!important;
}

/* Button colour styles */

.btn-white{
	background:#FFFFFF;
	color:rgba(0,0,0,.5)!important;
}
.btn-white:hover{
	background:#cccccc!important;
	color:rgba(0,0,0,.5)!important;
}
.btn-yellow-green{
	background:#93CA3E;
	color:#FFFFFF!important;
}
.btn-yellow-green:hover{
	background:#76a232!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-medium-jungle-green{
	color:#303030!important;
}
.ltc-medium-jungle-green:hover{
	color:#262626!important;
}
.ltc-white{
	color:#FFFFFF!important;
}
.ltc-white:hover{
	color:#cccccc!important;
}

/* Icon colour styles */

.icon-medium-jungle-green{
	color:#303030!important;
	border-color:#303030!important;
}
.icon-tea-green{
	color:#C9E4AA!important;
	border-color:#C9E4AA!important;
}
.icon-ash-grey{
	color:#B0C3B4!important;
	border-color:#B0C3B4!important;
}
.icon-white{
	color:#FFFFFF!important;
	border-color:#FFFFFF!important;
}
.icon-msu-green{
	color:#173F4F!important;
	border-color:#173F4F!important;
}

/* Bloc image backgrounds */

.bg-bg-cta{
	background-image:url("img/bg-cta.jpg");
}
.bg-header-v2-shutterstock-701320570{
	background-image:url("img/header_v2_shutterstock_701320570.jpg");
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}
